html {
    min-height: 100vh;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    padding: 6px;
    color: white;
    background-color: #7f8eb5;
    border: none;
    border-radius: 15px;
    width: 150px;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

.grid {
    display: grid;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.header{
    background-color: #7f8eb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.grid-item {
    border: solid;
}